{%  extends 'base.html' %}
{% load static %}
{% block title %}
    Cart
{% endblock %}

{% block content %}
    <div class="text-center">
        <br>
		<h1 class="text-center product_title">
			Your cart is empty
		</h1>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table cart-table">
                <thead class="cart-thead">
                    <tr>
                        <th class="colspan-4">
                                Your Items
                        </th>
                    </tr>
                </thead>
                {% for i in '123' %}
                <tr>
                    <td>
                        <a href="">
                            <img src="{% static 'images/minion.png' %}" width="100" height="100">
                        </a>
                    </td>
                    <td class="text-left">
                        Beauty
                        <br>
                        SKU: 7
                        <br>
                        Unit price: $20
                        <br>
                        Quantity: 3 x $20
                    </td>
                    <td>
                        <a  href=""><i class="material-icons cart-icon">add_shopping_cart</i></a>
                        <a  href=""><i class="material-icons cart-icon">remove_circle_outline</i></a>
                        <a  href=""><i class="material-icons cart-icon">delete</i></a>
                    </td>
                    <td>
                        $60
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
         <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table cart-table">
                <thead class="cart-thead">
                    <tr>
                        <th class="colspan-4">
                                Chek Out
                        </th>
                    </tr>
                </thead>
                <tboby>
                    <tr>
                        <td>
                            Please check your cart before payment
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>
                            Your total bill is: <strong>$60</strong>
                        </td>
                    </tr>
                </tboby>
            </table>
             <div class="mx-auto">
                 <a href="" style="text-decoration: none;">
                     <button type="button" class="btn btn-lg btn-block bg-dark text-white">
                        Back To Products
                     </button>
                 </a>
             </div>
         </div>
    </div>
{% endblock %}
