
<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a href="/" class="navbar-brand"><span class="material-icons text-success material-icons md-48">store</span></a>
  <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
 <div id="navbar" class="collapse navbar-collapse justify-content-between">
  <ul class="navbar-nav">
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-light text-uppercase fw-bold px-3" data-bs-toggle="dropdown" href="">Categories</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'home' %}">All products</a>
            {% for category in links %}
            <a class="dropdown-item" href="{{ category.get_url }}">{{ category.name }}</a>
            {% endfor %}
        </div>
      </li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="">Contacts</a></li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="">About</a></li>
  </ul>

  <form action="" class="form-inline">
      <div class="input-group">
          <input type="text" placeholder="Search">
          <div>
              <button class="btn-success"><i class="material-icons  material-icons md-24">search</i>
              </button>
          </div>
      </div>
  </form>
 </div>
</nav>

